<section class="pt-1 mt-24 text-gray-400 body-font">
  <div class="justify-center row">
    <div class="w-full lg:w-2/3">
        <div class="pb-0 text-center section-title">
            <div class="m-auto line"></div>
            <h3 class="text-gray-700 title">Kashmir</h3>
        </div> <!-- section title -->
    </div>
  </div>
  <div class="container flex flex-wrap px-5 pb-10 mx-auto mt-4 shadow shadow-gray-400">

    <div class="w-full mt-5 mb-10 overflow-hidden lg:w-1/2 lg:mb-0">
      <span class="text-3xl text-black ">Green Valley</span>
      <!-- <p>all-media-carousel works!</p> -->

      <img alt="feature" class="object-cover object-center w-full h-full mt-3 rounded" src="https://upload.wikimedia.org/wikipedia/commons/7/70/Neeulm_Valley_AJK_%28Arang_Kel%29.jpg">


    </div>

    <div class="flex flex-col flex-wrap -mb-10 text-center lg:py-6 lg:w-1/2 lg:pl-12 lg:text-left">
      <div class="flex mb-2">
         <button class="px-6 py-2 ml-auto text-xl text-white bg-red-500 border-0 rounded focus:outline-none hover:bg-red-600" (click)="toggleModal()">Book Now</button>

      </div>
      <div class="flex flex-col items-center mb-3 lg:items-start">
        <div class="flex-grow">
          <h2 class="mb-1 text-lg font-medium text-red-600 title-font">
            <!-- <div class="inline-flex items-center justify-center w-12 h-12 mb-2 mr-2 text-purple-400 bg-gray-800 rounded-full">
              <mat-icon>visibility</mat-icon>
            </div> -->
            Overview
          </h2>
          <p class="text-base leading-relaxed">Jammu and Kashmir was a region formerly administered by India as a state from 1954 to 2019, constituting the southern and southeastern portion of the larger Kashmir region, which has been the subject of a dispute between India, Pakistan and China since the mid-20th century.
            Jammu and Kashmir was a region formerly administered by India as a state from 1954 to 2019, constituting the southern and southeastern portion of the larger Kashmir region, which has been the subject of a dispute between India, Pakistan and China since the mid-20th century.
          </p>
          <!-- <a class="inline-flex items-center mt-3 text-purple-400">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a> -->
        </div>
      </div>
      <div class="flex flex-col items-center mb-3 lg:items-start">

        <div class="flex-grow">
          <h2 class="text-lg font-medium text-red-600 title-font">

            Activities
          </h2>

          <ul class="ml-6 text-lg text-black list-disc ">
            <li><span>Climate: Moderate Warm</span></li>
            <li><span>Best Time To Go: Jun-Aug</span></li>
            <li>Landscape: Mountains</li>
            <li>Trip Type: Self Driv</li>
          </ul>



        </div>
      </div>
    </div>
  </div>
</section>


<section class="pt-1 mt-5 text-gray-400 body-font">
  <div class="justify-center row">
    <div class="w-full lg:w-2/3">
        <div class="pb-0 text-center section-title">
            <div class="m-auto line"></div>
            <h3 class="text-gray-700 title">Itinery</h3>
        </div> <!-- section title -->
    </div>
  </div>
  <div class="container flex flex-wrap px-5 py-5 mx-auto mt-4 shadow shadow-gray-400">
    <div class="container flex flex-wrap px-5 py-5 mx-auto">
      <div class="flex flex-wrap w-full">
        <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6">
          <div class="relative flex pb-12">
            <div class="absolute inset-0 flex items-center justify-center w-10 h-full">
              <div class="w-1 h-full bg-gray-200 pointer-events-none"></div>
            </div>
            <div class="relative z-10 inline-flex items-center justify-center flex-shrink-0 w-10 h-10 text-white bg-indigo-500 rounded-full">
              <mat-icon>date_range</mat-icon>
            </div>
            <div class="flex-grow pl-4">
              <h2 class="mb-1 text-sm font-medium tracking-wider text-gray-900 title-font">STEP  ee1</h2>
              <p class="leading-relaxed">VHS cornhole pop-up, try-hard 8-bit iceland helvetica. Kinfolk bespoke try-hard cliche palo santo offal.</p>
            </div>
          </div>
          <div class="relative flex pb-12">
            <div class="absolute inset-0 flex items-center justify-center w-10 h-full">
              <div class="w-1 h-full bg-gray-200 pointer-events-none"></div>
            </div>
            <div class="relative z-10 inline-flex items-center justify-center flex-shrink-0 w-10 h-10 text-white bg-indigo-500 rounded-full">
              <mat-icon>date_range</mat-icon>
            </div>
            <div class="flex-grow pl-4">
              <h2 class="mb-1 text-sm font-medium tracking-wider text-gray-900 title-font">STEP 2</h2>
              <p class="leading-relaxed">Vice migas literally kitsch +1 pok pok. Truffaut hot chicken slow-carb health goth, vape typewriter.</p>
            </div>
          </div>
          <div class="relative flex pb-12">
            <div class="absolute inset-0 flex items-center justify-center w-10 h-full">
              <div class="w-1 h-full bg-gray-200 pointer-events-none"></div>
            </div>
            <div class="relative z-10 inline-flex items-center justify-center flex-shrink-0 w-10 h-10 text-white bg-indigo-500 rounded-full">
              <mat-icon>date_range</mat-icon>
            </div>
            <div class="flex-grow pl-4">
              <h2 class="mb-1 text-sm font-medium tracking-wider text-gray-900 title-font">STEP 3</h2>
              <p class="leading-relaxed">Coloring book nar whal glossier master cleanse umami. Salvia +1 master cleanse blog taiyaki.</p>
            </div>
          </div>
          <div class="relative flex pb-12">
            <div class="absolute inset-0 flex items-center justify-center w-10 h-full">
              <div class="w-1 h-full bg-gray-200 pointer-events-none"></div>
            </div>
            <div class="relative z-10 inline-flex items-center justify-center flex-shrink-0 w-10 h-10 text-white bg-indigo-500 rounded-full">
              <mat-icon>date_range</mat-icon>
            </div>
            <div class="flex-grow pl-4">
              <h2 class="mb-1 text-sm font-medium tracking-wider text-gray-900 title-font">STEP 4</h2>
              <p class="leading-relaxed">VHS cornhole pop-up, try-hard 8-bit iceland helvetica. Kinfolk bespoke try-hard cliche palo santo offal.</p>
            </div>
          </div>
          <div class="relative flex">
            <div class="relative z-10 inline-flex items-center justify-center flex-shrink-0 w-10 h-10 text-white bg-indigo-500 rounded-full">
              <mat-icon>date_range</mat-icon>
            </div>
            <div class="flex-grow pl-4">
              <h2 class="mb-1 text-sm font-medium tracking-wider text-gray-900 title-font">FINISH</h2>
              <p class="leading-relaxed">Pitchfork ugh tattooed scenester echo park gastropub whatever cold-pressed retro.</p>
            </div>
          </div>
        </div>

        <div class="align-middle lg:w-3/5 md:w-1/2 md:pr-10 md:py-6">

          <div
                      id="carouselExampleCrossfade"
                      class="relative mt-3 carousel slide"
                      data-bs-ride="carousel">
                      <div class="absolute bottom-0 left-0 right-0 flex justify-center p-0 mb-4 carousel-indicators">
                        <button
                          type="button"
                          data-bs-target="#carouselExampleCrossfade"
                          data-bs-slide-to="0"
                          class="active"
                          aria-current="true"
                          aria-label="Slide 1"
                        ></button>
                        <button
                          type="button"
                          data-bs-target="#carouselExampleCrossfade"
                          data-bs-slide-to="1"
                          aria-label="Slide 2"
                        ></button>
                        <button
                          type="button"
                          data-bs-target="#carouselExampleCrossfade"
                          data-bs-slide-to="2"
                          aria-label="Slide 3"
                        ></button>
                      </div>
                      <div class="relative w-full overflow-hidden carousel-inner">
                        <div class="float-left w-full carousel-item active">
                          <img
                            src="assets/images/carousel_images/carousel1.jpeg"
                            class="block w-full"
                            alt="Wild Landscape"
                          />
                        </div>
                        <div class="float-left w-full carousel-item">
                          <img
                            src="assets/images/carousel_images/carousel2.jpeg"
                            class="block w-full"
                            alt="Camera"
                          />
                        </div>
                        <div class="float-left w-full carousel-item">
                          <img
                            src="assets/images/carousel_images/carousel3.jpeg"
                            class="block w-full"
                            alt="Exotic Fruits"
                          />
                        </div>
                      </div>
                      <button
                        class="absolute top-0 bottom-0 left-0 flex items-center justify-center p-0 text-center border-0 carousel-control-prev hover:outline-none hover:no-underline focus:outline-none focus:no-underline"
                        type="button"
                        data-bs-target="#carouselExampleCrossfade"
                        data-bs-slide="prev"
                      >
                        <span class="inline-block bg-no-repeat carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button
                        class="absolute top-0 bottom-0 right-0 flex items-center justify-center p-0 text-center border-0 carousel-control-next hover:outline-none hover:no-underline focus:outline-none focus:no-underline"
                        type="button"
                        data-bs-target="#carouselExampleCrossfade"
                        data-bs-slide="next"
                      >
                        <span class="inline-block bg-no-repeat carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
        </div>







      </div>
    </div>
  </div>
</section>


<div *ngIf="showModal" class="fixed inset-0 z-50 flex items-center justify-center overflow-x-hidden overflow-y-auto outline-none focus:outline-none">
  <div class="relative w-auto max-w-6xl mx-auto my-6">
    <!--content-->
    <div class="relative flex flex-col w-full bg-white border-0 rounded-lg shadow-lg outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid rounded-t border-slate-200">
        <div class="font-mono text-3xl font-semibold">
          Book Your Trip
        </div>
        <button class="float-right p-1 ml-auto text-3xl font-semibold leading-none text-black bg-transparent border-0 outline-none opacity-5 focus:outline-none" (click)="toggleModal()">
          <span class="block w-6 h-6 text-2xl text-black bg-transparent outline-none opacity-5 focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative flex-auto p-6">
        <app-package-booking-form></app-package-booking-form>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid rounded-b border-slate-200">
        <button class="px-6 py-2 mb-1 mr-1 text-sm font-bold text-red-500 uppercase transition-all duration-150 ease-linear outline-none background-transparent focus:outline-none" type="button" (click)="toggleModal()">
          Close
        </button>
        <button class="px-6 py-3 mb-1 mr-1 text-sm font-bold text-white uppercase transition-all duration-150 ease-linear rounded shadow outline-none bg-emerald-500 active:bg-emerald-600 hover:shadow-lg focus:outline-none" type="button" (click)="toggleModal()">
          Book
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="fixed inset-0 z-40 bg-black opacity-25"></div>
