<app-package-carousel></app-package-carousel>

<section class="text-gray-600 body-font">
  <div class="px-5 pt-24 pb-5 mx-auto container-fluid">
    <div class="justify-center row">
      <div class="w-full lg:w-2/3">
          <div class="pb-5 text-center section-title">
              <div class="m-auto line"></div>
              <h3 class="title">Kashmir Travel <span>Packages</span></h3>
          </div> <!-- section title -->
      </div>
    </div>
    <div class="flex flex-wrap -m-4">

      <div class="w-full p-4">
        <section class="text-gray-600 body-font">
          <div class="container px-5 py-5 mx-auto">
            <div class="flex flex-wrap -mx-4 -mb-10 text-center">

              <div class="w-full mb-10 lg:w-1/2">
                <div class="p-4 m-4 rounded shadow">
                <div class="h-64 overflow-hidden rounded-lg">
                  <img alt="content" class="object-cover object-center w-full h-full transition duration-500 rounded hover:scale-110" src="assets/images/packages/campInRide.jpg">
                </div>
                <h2 class="pt-3 text-2xl font-medium text-black title-font" style="margin-bottom: 0;">Camp In Ride</h2>

                <div class="flex flex-wrap px-6 text-black">

                  <div class="w-full text-left lg:w-3/4">
                    <p class="pb-0 text-base leading-relaxed text-black" style="margin: 0;">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
                    <div class="mt-1 text-sm"> <span class="font-bold">Climate:</span> 5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Best Time to Go: </span>5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Landscape:</span> 5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Trip Type:</span> 5Days - 6Nights</div>
                    <div class="text-lg font-bold text-center text-blue-500 ">Duration: 5Days - 6Nights</div>
                  </div>

                  <div class="w-full lg:w-1/6">
                    <div class="font-bold text-gray-600">Activities</div>
                    <ul class="list-disc lg:float-right ">
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                    </ul>
                  </div>

                </div>

                <button class="flex px-5 py-2 mx-auto mt-3 text-white bg-red-500 border-0 rounded focus:outline-none hover:bg-red-600" routerLink="/package-info">View</button>

                </div>
              </div>

              <div class="w-full mb-10 lg:w-1/2">
                <div class="p-4 m-4 rounded shadow">
                <div class="h-64 overflow-hidden rounded-lg">
                  <img alt="content" class="object-cover object-center w-full h-full transition duration-500 rounded hover:scale-110" src="assets/images/packages/discoverIndia.jpg">
                </div>
                <h2 class="pt-3 text-2xl font-medium text-black title-font" style="margin-bottom: 0;">Camp In Ride</h2>

                <div class="flex flex-wrap px-6 text-black">

                  <div class="w-full text-left lg:w-3/4">
                    <p class="pb-0 text-base leading-relaxed text-black" style="margin: 0;">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
                    <div class="mt-1 text-sm"> <span class="font-bold">Climate:</span> 5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Best Time to Go: </span>5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Landscape:</span> 5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Trip Type:</span> 5Days - 6Nights</div>
                    <div class="text-lg font-bold text-center text-blue-500 ">Duration: 5Days - 6Nights</div>
                  </div>

                  <div class="w-full lg:w-1/6">
                    <div class="font-bold text-gray-600">Activities</div>
                    <ul class="list-disc lg:float-right ">
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                    </ul>
                  </div>

                </div>

                <button class="flex px-5 py-2 mx-auto mt-3 text-white bg-red-500 border-0 rounded focus:outline-none hover:bg-red-600" routerLink="/package-info">View</button>

                </div>
              </div>

              <div class="w-full mb-10 lg:w-1/2">
                <div class="p-4 m-4 rounded shadow">
                <div class="h-64 overflow-hidden rounded-lg">
                  <img alt="content" class="object-cover object-center w-full h-full transition duration-500 rounded hover:scale-110" src="assets/images/packages/economic.jpg">
                </div>
                <h2 class="pt-3 text-2xl font-medium text-black title-font" style="margin-bottom: 0;">Camp In Ride</h2>

                <div class="flex flex-wrap px-6 text-black">

                  <div class="w-full text-left lg:w-3/4">
                    <p class="pb-0 text-base leading-relaxed text-black" style="margin: 0;">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
                    <div class="mt-1 text-sm"> <span class="font-bold">Climate:</span> 5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Best Time to Go: </span>5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Landscape:</span> 5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Trip Type:</span> 5Days - 6Nights</div>
                    <div class="text-lg font-bold text-center text-blue-500 ">Duration: 5Days - 6Nights</div>
                  </div>

                  <div class="w-full lg:w-1/6">
                    <div class="font-bold text-gray-600">Activities</div>
                    <ul class="list-disc lg:float-right ">
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                    </ul>
                  </div>

                </div>

                <button class="flex px-5 py-2 mx-auto mt-3 text-white bg-red-500 border-0 rounded focus:outline-none hover:bg-red-600" routerLink="/package-info">View</button>

                </div>
              </div>

              <div class="w-full mb-10 lg:w-1/2">
                <div class="p-4 m-4 rounded shadow">
                <div class="h-64 overflow-hidden rounded-lg">
                  <img alt="content" class="object-cover object-center w-full h-full transition duration-500 rounded hover:scale-110" src="assets/images/packages/greenRides.jpg">
                </div>
                <h2 class="pt-3 text-2xl font-medium text-black title-font" style="margin-bottom: 0;">Camp In Ride</h2>

                <div class="flex flex-wrap px-6 text-black">

                  <div class="w-full text-left lg:w-3/4">
                    <p class="pb-0 text-base leading-relaxed text-black" style="margin: 0;">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
                    <div class="mt-1 text-sm"> <span class="font-bold">Climate:</span> 5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Best Time to Go: </span>5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Landscape:</span> 5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Trip Type:</span> 5Days - 6Nights</div>
                    <div class="text-lg font-bold text-center text-blue-500 ">Duration: 5Days - 6Nights</div>
                  </div>

                  <div class="w-full lg:w-1/6">
                    <div class="font-bold text-gray-600">Activities</div>
                    <ul class="list-disc lg:float-right ">
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                    </ul>
                  </div>

                </div>

                <button class="flex px-5 py-2 mx-auto mt-3 text-white bg-red-500 border-0 rounded focus:outline-none hover:bg-red-600" routerLink="/package-info">View</button>

                </div>
              </div>

              <div class="w-full mb-10 lg:w-1/2">
                <div class="p-4 m-4 rounded shadow">
                <div class="h-64 overflow-hidden rounded-lg">
                  <img alt="content" class="object-cover object-center w-full h-full transition duration-500 rounded hover:scale-110" src="assets/images/packages/kashmirAdenture.jpg">
                </div>
                <h2 class="pt-3 text-2xl font-medium text-black title-font" style="margin-bottom: 0;">Camp In Ride</h2>

                <div class="flex flex-wrap px-6 text-black">

                  <div class="w-full text-left lg:w-3/4">
                    <p class="pb-0 text-base leading-relaxed text-black" style="margin: 0;">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
                    <div class="mt-1 text-sm"> <span class="font-bold">Climate:</span> 5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Best Time to Go: </span>5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Landscape:</span> 5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Trip Type:</span> 5Days - 6Nights</div>
                    <div class="text-lg font-bold text-center text-blue-500 ">Duration: 5Days - 6Nights</div>
                  </div>

                  <div class="w-full lg:w-1/6">
                    <div class="font-bold text-gray-600">Activities</div>
                    <ul class="list-disc lg:float-right ">
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                    </ul>
                  </div>

                </div>

                <button class="flex px-5 py-2 mx-auto mt-3 text-white bg-red-500 border-0 rounded focus:outline-none hover:bg-red-600" routerLink="/package-info">View</button>

                </div>
              </div>

              <div class="w-full mb-10 lg:w-1/2">
                <div class="p-4 m-4 rounded shadow">
                <div class="h-64 overflow-hidden rounded-lg">
                  <img alt="content" class="object-cover object-center w-full h-full transition duration-500 rounded hover:scale-110" src="assets/images/packages/KeralaToKashmir.jpg">
                </div>
                <h2 class="pt-3 text-2xl font-medium text-black title-font" style="margin-bottom: 0;">Camp In Ride</h2>

                <div class="flex flex-wrap px-6 text-black">

                  <div class="w-full text-left lg:w-3/4">
                    <p class="pb-0 text-base leading-relaxed text-black" style="margin: 0;">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
                    <div class="mt-1 text-sm"> <span class="font-bold">Climate:</span> 5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Best Time to Go: </span>5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Landscape:</span> 5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Trip Type:</span> 5Days - 6Nights</div>
                    <div class="text-lg font-bold text-center text-blue-500 ">Duration: 5Days - 6Nights</div>
                  </div>

                  <div class="w-full lg:w-1/6">
                    <div class="font-bold text-gray-600">Activities</div>
                    <ul class="list-disc lg:float-right ">
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                    </ul>
                  </div>

                </div>

                <button class="flex px-5 py-2 mx-auto mt-3 text-white bg-red-500 border-0 rounded focus:outline-none hover:bg-red-600" routerLink="/package-info">View</button>

                </div>
              </div>

              <div class="w-full mb-10 lg:w-1/2">
                <div class="p-4 m-4 rounded shadow">
                <div class="h-64 overflow-hidden rounded-lg">
                  <img alt="content" class="object-cover object-center w-full h-full transition duration-500 rounded hover:scale-110" src="assets/images/packages/keralaVoyages.jpg">
                </div>
                <h2 class="pt-3 text-2xl font-medium text-black title-font" style="margin-bottom: 0;">Camp In Ride</h2>

                <div class="flex flex-wrap px-6 text-black">

                  <div class="w-full text-left lg:w-3/4">
                    <p class="pb-0 text-base leading-relaxed text-black" style="margin: 0;">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
                    <div class="mt-1 text-sm"> <span class="font-bold">Climate:</span> 5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Best Time to Go: </span>5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Landscape:</span> 5Days - 6Nights</div>
                    <div class="mt-1 text-sm"> <span class="font-bold">Trip Type:</span> 5Days - 6Nights</div>
                    <div class="text-lg font-bold text-center text-blue-500 ">Duration: 5Days - 6Nights</div>
                  </div>

                  <div class="w-full lg:w-1/6">
                    <div class="font-bold text-gray-600">Activities</div>
                    <ul class="list-disc lg:float-right ">
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                      <li>Adventure</li>
                    </ul>
                  </div>

                </div>

                <button class="flex px-5 py-2 mx-auto mt-3 text-white bg-red-500 border-0 rounded focus:outline-none hover:bg-red-600" routerLink="/package-info">View</button>

                </div>
              </div>

            </div>
          </div>
        </section>
      </div>




    </div>
  </div>
</section>



